.ReactTable {
  height: 45vh !important;
}

.ReactTable .rt-tr .action {
  transition: all .2s ease;
  text-align: center;
  color: red;
  transform: scale(0);
}

.ReactTable .rt-tr:hover .action {
  transform: scale(1.3);
}

.ReactTable .rt-tr:hover .rt-td {
  background: #4285f4;
  color: white;
  font: bold;
  cursor: pointer;
}